<form action="/users" method="post">
  <%= auth_token %>
  <label for="email">Email</label><br>
  <input type="text" name="user[email]"><br>
  <label for="Password">Password</label><br>
  <input type="password" name="user[password]"><br>
  <button type="submit"> Sign up!</button>
</form>
